{
    "enable_token_gen": false,
    "token_gen_attr":  {
        "url": "https://api-develop.quipper.net/v1/authorizations",
        "headers": {
            "Authorization": {
                "type":"Basic", 
                "username": "someuser", 
                "password":"somepassword"
            }
        },
        "body": {
            "client_id": "qlearn",
            "client_secret": "dfjsdj"
        }
    },
    "tergets": [
        {
            "url": "https://httpbin.org/get",
            "token": "some token"
        },
        {
            "url": "mockbin.org/request"
            "token": "some token"
        }
    ],
    "output_filename": "plot.html"
}